# PATH
export PATH=$HOME/.local/bin:$PATH

# Homebrew
{{ if eq .chezmoi.arch "arm64" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else -}}
eval "$(/usr/local/bin/brew shellenv)"
{{- end }}

# mise
eval "$(mise activate zsh --shims)"
