#!/usr/bin/env bash

set -eufo pipefail

if [ -f ~/.config/nvim/lazyvim.json ]; then
  exit 0
fi

printf "[*] Run LazyVim install script\n"

if [ -d ~/.config/nvim ]; then
  mv ~/.config/nvim{,.bak}
fi

if [ -d ~/.config/share/nvim ]; then
  mv ~/.local/share/nvim{,.bak}
fi

if [ -d ~/.local/state/nvim ]; then
  mv ~/.local/state/nvim{,.bak}
fi

if [ -d ~/.cache/nvim ]; then
  mv ~/.cache/nvim{,.bak}
fi

git clone https://github.com/LazyVim/starter ~/.config/nvim

rm -rf ~/.config/nvim/.git
